# Sensitive
.Xauthority
.ssh/
.gnupg/
.pki/

# Caches
.cache/
*.bak

# Application data
.android/
.mozilla/
.local/share/

# Package managers
.cabal/
.cargo/
.npm/
.rustup/
.gradle/

# History files
.bash_history
.python_history
.zsh_history

# Machine-specific
.config/dconf/
.config/pulse/

# Large directories
.java/
.var/

# User data directories (not config)
Downloads/
Music/
Pictures/
Android/
dev/
uni/
obsidian/
EOF
